MONGO_ROOT_USERNAME=aeroscan
MONGO_ROOT_PASSWORD=aeroscan
MONGO_DATABASE=aeroscan
MONGODB_URI=mongodb://aeroscan:aeroscan@localhost:27017/aeroscan?authSource=admin
API_PORT=3000
VITE_API_URL=http://localhost:3000
